/* header style section */
header {
    position: sticky;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.input {
    padding: 15px 60px 15px 60px;
    border: 1px white;
    border-radius: 25px;
    outline-color: #ffc200;
}

.input:hover {
    border: solid #ffc200;
    border-width: 1px;
    }


nav a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: larger;
    margin-right: 90px;
}

nav a:hover{
    color: #ffc200;
}

/* hero style section */
.hero {
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #f2f7ff;
}

.hero-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    padding-right: 150px;
    margin-bottom: 20px;
    font-weight: 800px;
}

.hero-p {
    font-family: 'Poppins', sans-serif;
    padding-right: 220px;
}

.buttons {
    display: flex;
    gap: 70px
}

.apply-button {
    background-color: #ffc200;
    padding: 20px 60px 20px 60px;
    border: 0;
    border-radius: 10px;
}

.video-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
}

.hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero2 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700px;
    height: 100px;
    width: 500px;
}

.hero2 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 100px;
    width: 500px;
    
}

/* main content section */
.main {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
    width: 310px;
    height: 100px;
    box-shadow: 0px 0px 6px 8px rgba(219, 218, 218, 0.123);
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text p {
    margin-top: -15px;
    padding-top: 0px;
}

.card-text h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* our mission style section */
.mission-container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
    margin-top: 80px;
}

.mission-statement {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    
}
.mission-statement h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: #ffc200;
}

.mission-statement h3 {
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300px;
    font-size: 35px;
}

.missions {
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 5px;
}

.missions span {
    font-family: 'Poppins', sans-serif;
}

.explore-btn {
    margin-top: 30px;
    background-color: #ffc200;
    padding: 20px 80px 20px 80px;
    border: 0;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.mission-photo {
    border: none;
    border-radius: 50px;
    width: 525.8px;
}

/* Communtiy style section */
.community-container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
    margin-top: 80px;
}

.community-photo {
    border: none;
    border-radius: 50px;
    width: 525.8px;
}

.community-statement {
    display: flex;
    flex-direction: column;
}

.community-statement h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: #ffc200;
}

.community-statement h3{
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300px;
    font-size: 35px;
}

.community-p {
    font-family: 'Poppins', sans-serif;
    margin-top: -15px;
}

.community-btn {
    margin-top: 30px;
    background-color: #ffc200;
    padding: 20px 80px 20px 80px;
    border: 0;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* video section */
/* video {
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 0px 30px 30px rgba(219, 218, 218, 0.123);
    border-radius: 50px;
    padding: 0px;
}
 */
 .video-wrapper {
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 0px 30px 30px rgba(219, 218, 218, 0.123);
    border-radius: 50px;
    background-color: rgb(19, 18, 18);
}

  video {
    width: 100%;
    display: block;
  }

  .play-button {
    position: relative;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    bottom: 300px;
    left: 600px;
    background: url('assets/OIP-removebg-preview.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
  }

  .play-button:hover {
    opacity: 0.8;
}
    

/* details section */

.details-container {
    background-image: url(assets/Screenshot_7-10-2024_11015_www.facebook.com.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-color: black;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: x-large;
}

.details-container div {
    padding-right: 100px;
    width: 250px;
    
}
.details-container h2 {
    font-family: 'Poppins', sans-serif;
    color: #ffc200;
}

.details-container p {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.subscribe-section {
    background: linear-gradient(to right, rgb(29, 22, 7) 10%, black 90%);
    display: flex;
    color: white;
    align-items: center;
    gap: 100px;
    padding: 30px;
    border-radius: 30px;
    margin: 50px 100px;
    height: 200px;
}

.subscribe-section div h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: normal;
}

form {
    display: flex;
    align-items: center;
    
}
.form-input {
    background-color: black;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
    outline-color:#ffc200;
    padding: 30px;
    padding-right: 200px;
}

.sub-button {
    position: relative;
    right: 85px;
    background-color: #ffc200;
    padding: 20px 10px;
    border: 0;
    border-radius: 10px;

    }



